/* Simple CSS built by bare hands, react is the focus of this app */

header a {
  text-decoration: none;
  border: 0;
  background-color:darkgray;
  color: white;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 0 0 12px 12px;
  text-align: center;
}

main {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
}

button {
  border: 0;
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 12px;
  width: 100%;
  white-space: nowrap;
}

button:active {
  background-color:dimgray;
}

input {
  font-size: 16px;
}

label {
  margin-bottom: 6px;
}

table {
  border-collapse: collapse;
}

thead {
  font-weight: bold;
}

td {
  padding: 10px;
}

tbody td {
  border-top: 1px solid black;
}

.row {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

@supports not (gap: 1rem) {
  .row > .col{
    padding: 0 .5rem;
  }
}

.col {
  display: flex;
  flex-direction: column;
}
